<mat-card>
    <mat-card-header>
      <mat-card-title>
        Apartment
      </mat-card-title>
      <mat-card-subtitle>City, Street, Building, Number of Persons</mat-card-subtitle>
      <mat-card-subtitle>City, Street, Building, Number of Persons</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions class="actions" align="end">
      <button mat-stroked-button (click)="onDetails()">DETAILS</button>
      <button mat-stroked-button color="warn" (click)="onDelete()">DELETE</button>
    </mat-card-actions>
</mat-card>
