<div class="wrapper">
    <div class="tabs">
        <mat-tab-group>
            <mat-tab label="Employees">
                <div class="content">
                  <app-employees></app-employees>
                </div>
            </mat-tab>
            <mat-tab label="Contracts">
                <div class="content">
                  <app-contracts></app-contracts>
                </div>
            </mat-tab>
            <mat-tab label="Reports">
                <div class="content">
                  <app-admin-reports></app-admin-reports>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
